.Button {
  background-color: transparent;
  cursor: pointer;
  padding: 26px 54px;
  box-sizing: border-box;
  border: 2px solid black;

  font-family: "Nanum Gothic", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
