.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  border-radius: 40px;
  width: 886px;
  height: 560px;
  padding: 102px 91px; // 넉넉한 내부 여백
  position: relative;
  text-align: center;
  box-sizing: border-box;
}

.closeButton {
  position: absolute;
  top: 9px;
  right: 12px;
  background: none;
  border: none;
  font-size: 72px;
  cursor: pointer;
}

.message {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 36px;
  font-weight: 700;

  margin-top: 41px;
  margin-bottom: 88px;
  white-space: pre-line;
}

.viewButton {
  width: 100%;
  padding: 20px;
  background-color: black;

  font-family: "Nanum Gothic", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: white;

  border: none;
  border-radius: 50px;
  margin-bottom: 20px;
  cursor: pointer;
}

.cancelButton {
  background: none;

  font-family: "Nanum Gothic", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: black;

  border: none;
  cursor: pointer;
}
